#query1{
  width: 15rem;
}
.col-sm-9{
  padding-left: 19rem;
  justify-content: center;
}
#query2{
  width: 15rem;
}
#query3{
  width: 15rem;
}
#query4{
  width: 15rem;
}
#query5{
  width: 15rem;
}
#query6{
  width: 15rem;
}
#query7{
  width: 15rem;
}
#query8{
  width: 15rem;
}
#query9{
  width: 15rem;
}
#query10{
  width: 15rem;
}
#query11{
  width: 15rem;
}
#query12{
  width: 15rem;
}
#query13{
  width: 15rem;
}
#query14{
  width: 15rem;
}
#query15{
  width: 15rem;
}
#query16{
  width: 15rem;
}
#query17{
  width: 15rem;
}
#query18{
  width: 15rem;
}
#query19{
  width: 15rem;
}
#mybtn{
}
